body {
    color: #ffffff;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    background: black;
    cursor: crosshair;
    width: 100% !important;
    overflow: hidden;
    

}

h1{
    font-size: 80px;
    font-family: 'IBM Plex Mono', monospace;
    
}



p{
    color: rgba(255, 255, 255, 0.5);
    font-family: 'IBM Plex Mono', monospace;
}

.head {
    margin-top: 50%;
    text-align: center;
    align-self: center;
    margin-left: 50%;
    
}

.disable-selction {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

}

/* h1::after {
    content: 'RAJAN';
    font-size: 12px;
    position: absolute;
    margin-top: 3px;
    padding-left: 5px;
    font-weight: 400;

} */

